.e{
    display: flex;
    height: 20vh;
    background-image: linear-gradient(60deg,grey,black);
}
.eleft{
    flex: 1;
}
.eright{
    flex: 1;
}

.eright{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}
.sv{
    fill: rgb(139, 138, 138);
}
